* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

body {
  background: #121214;
  color: #E1E1E6;
  -webkit-font-smoothing: antialiased;
}

body, button, input {
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

main {
 height: 100vh;
 max-width: 1296px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

main section #about-me {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

main section #about-me div {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

main section #about-me div span {
  color: #1DEBCC;
}

main section #about-me img {
  width: 260x;
  height: 260px;
  border-radius: 50%;
}
